tags
*.o
*.sub
*.guess
ltmain.sh
*.la
*.a
.deps
.dirstamp
.libs
*.lo
*.pb.h
*.pb.cc
*.rl.cc
aclocal.m4
autom4te.cache
config.h.in
config.log
config.status
configure
config.h.in~
install-sh
libtool
Makefile.in
missing
stamp-h1
*.pc
depcomp
*.xcodeproj
.vscode/
bin/te*
lib/

*.rl.cc

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Makefile

bin/sylar
bin/orm
orm_out/

